@-webkit-keyframes fadeInUpShorter {
	from {
		opacity: 0;
		transform: translate(0, 50px); }
	to {
		opacity: 1;
		transform: translate(0, 0); } }

@keyframes fadeInUpShorter {
	from {
		opacity: 0;
		transform: translate(0, 50px); }
	to {
		opacity: 1;
		transform: translate(0, 0); } }

@-webkit-keyframes fadeInLeftShorter {
	from {
		opacity: 0;
		transform: translate(50px, 0); }
	to {
		opacity: 1;
		transform: translate(0, 0); } }

@keyframes fadeInLeftShorter {
	from {
		opacity: 0;
		transform: translate(50px, 0); }
	to {
		opacity: 1;
		transform: translate(0, 0); } }

@-webkit-keyframes fadeInRightShorter {
	from {
		opacity: 0;
		transform: translate(-50px, 0); }
	to {
		opacity: 1;
		transform: translate(0, 0); } }

@keyframes fadeInRightShorter {
	from {
		opacity: 0;
		transform: translate(-50px, 0); }
	to {
		opacity: 1;
		transform: translate(0, 0); } }

@-webkit-keyframes expandIn {
	from {
		opacity: 0;
		transform: scale(0.8); }
	to {
		opacity: 1;
		transform: scale(1); } }

@keyframes expandIn {
	from {
		opacity: 0;
		transform: scale(0.8); }
	to {
		opacity: 1;
		transform: scale(1); } }

.fadeInUpShorter {
	-webkit-animation-name: fadeInUpShorter;
					animation-name: fadeInUpShorter; }

.fadeInLeftShorter {
	-webkit-animation-name: fadeInLeftShorter;
					animation-name: fadeInLeftShorter; }

.fadeInRightShorter {
	-webkit-animation-name: fadeInRightShorter;
					animation-name: fadeInRightShorter; }

.expandIn {
	-webkit-animation-name: expandIn;
					animation-name: expandIn; }

.body {
	background: #FFF; }

#header .header-body {
	border-top: 0; }

.custom-primary-font {
	font-family: "Roboto Slab", serif !important; }

.custom-bg-color-1 {
	background-color: #4a5559 !important; }

.custom-link-style-1 {
	color: #1d2127 !important;
	transition: ease color 300ms; }
	.custom-link-style-1:hover, .custom-link-style-1:focus, .custom-link-style-1:active {
		color: #CCC !important; }

.custom-btn-style-1 {
	padding: 11.2px 32px;
	padding: 0.7rem 2rem;
	border-radius: 50px !important; }

ul.custom-comments-style li {
	border-top: 1px solid #DDE5E7; }
	@media (min-width: 768px) {
		ul.custom-comments-style li {
			padding: 35px 0 0 115px; } }

ul.custom-comments-style > li:first-child {
	border-top: 0; }

ul.custom-comments-style .comment-block {
	background: none;
	padding: 5px 0 20px; }

.custom-dots-style-1 .owl-dots .owl-dot {
	background: #FFF;
	border-radius: 100%;
	width: 16px;
	height: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #FFF; }
	.custom-dots-style-1 .owl-dots .owl-dot > span {
		background: transparent !important; }
	.custom-dots-style-1 .owl-dots .owl-dot.active {
		background: #CCC !important; }
	.custom-dots-style-1 .owl-dots .owl-dot + .owl-dot {
		margin-left: 6px !important; }

.custom-thumb-style-1 {
	border: none;
	background: transparent; }
	.custom-thumb-style-1 img {
		border-radius: 100% !important;
		border: 0;
		box-shadow: none; }

.custom-opacity-1 {
	opacity: 0.2 !important; }

.custom-opacity-2 {
	opacity: 0.5 !important; }

.custom-fontsize-1 {
	font-size: 1.3em !important;
	line-height: 1.3 !important; }

.custom-fontsize-2 {
	font-size: 17.6px !important;
	font-size: 1.1rem !important; }

.custom-fontsize-3 {
	font-size: 25.6px !important;
	font-size: 1.6rem !important;
	letter-spacing: 0; }

.custom-fontsize-4 {
	font-size: 64px !important;
	font-size: 4rem !important; }

.custom-fontsize-5 {
	font-size: 16px !important;
	font-size: 1rem !important; }

.custom-fontsize-6 {
	font-size: 19.2px !important;
	font-size: 1.2rem !important;
	letter-spacing: 0; }

.custom-fontsize-7 {
	font-size: 41.6px !important;
	font-size: 2.6rem !important;
	letter-spacing: 0; }

.custom-padding-1 {
	padding: 96px 0 !important;
	padding: 6rem 0 !important; }

.custom-padding-2 {
	padding: 40px 48px !important;
	padding: 2.5rem 3rem !important; }

.custom-padding-3 {
	padding: 72px 0 !important;
	padding: 4.5rem 0 !important; }

.custom-padding-4 {
	padding: 32px 36.8px !important;
	padding: 2rem 2.3rem !important; }

.custom-left-rounded-form-control {
	border-radius: 50px 0 0 50px !important;
	height: 60px !important;
	padding: 0 24px;
	padding: 0 1.5rem;
	border-color: #c7ccce;
	border-width: 2px;
	font-weight: 600;
	color: #000 !important; }

.custom-right-rounded-form-control {
	border-radius: 0 50px 50px 0 !important;
	border-left: 0;
	height: 60px;
	padding: 0 24px;
	padding: 0 1.5rem;
	color: #000;
	font-weight: 600;
	border-color: #c7ccce;
	border-width: 2px; }
	.custom-right-rounded-form-control::-moz-placeholder {
		color: #000 !important; }
	.custom-right-rounded-form-control:-ms-input-placeholder {
		color: #000 !important; }
	.custom-right-rounded-form-control::placeholder {
		color: #000 !important; }
	.custom-right-rounded-form-control:-ms-input-placeholder {
		color: #000 !important; }

@media (max-width: 767px) {
	.custom-left-rounded-form-control,
	.custom-right-rounded-form-control {
		border-radius: 50px !important; }
	.custom-right-rounded-form-control {
		border-left: 2px solid #c7ccce; } }

.custom-select-1 {
	position: relative; }
	.custom-select-1:before {
		content: '\f107';
		font-family: "Font Awesome 5 Free";
		position: absolute;
		display: block;
		color: #000 !important;
		top: 19px;
		right: 20px;
		color: #b5b5b5;
		font-weight: bold;
		pointer-events: none; }
	.custom-select-1 select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		color: #000; }
		.custom-select-1 select::-ms-expand {
			display: none; }

/* 
* Carousel
*/
.owl-carousel.custom-carousel-style-1 .owl-item {
	opacity: 0.5;
	transition: ease opacity 300ms; }
	.owl-carousel.custom-carousel-style-1 .owl-item:hover {
		opacity: 1; }

.owl-carousel.custom-carousel-style-1 .owl-nav button.owl-prev,
.owl-carousel.custom-carousel-style-1 .owl-nav button.owl-next {
	background-color: transparent;
	border: 1px solid #CCC;
	color: #CCC;
	width: 40px;
	height: 40px; }
	.owl-carousel.custom-carousel-style-1 .owl-nav button.owl-prev:hover, .owl-carousel.custom-carousel-style-1 .owl-nav button.owl-prev:active, .owl-carousel.custom-carousel-style-1 .owl-nav button.owl-prev:focus,
	.owl-carousel.custom-carousel-style-1 .owl-nav button.owl-next:hover,
	.owl-carousel.custom-carousel-style-1 .owl-nav button.owl-next:active,
	.owl-carousel.custom-carousel-style-1 .owl-nav button.owl-next:focus {
		background-color: #CCC;
		border-color: #CCC;
		color: #FFF; }

.owl-carousel.custom-carousel-style-1 .owl-nav button.owl-prev:before {
	content: '\f104';
	left: 1px;
	top: 1px;
	font-size: 21px; }

.owl-carousel.custom-carousel-style-1 .owl-nav button.owl-next:before {
	content: '\f105';
	left: 1px;
	top: 1px;
	font-size: 21px; }

.owl-carousel.custom-carousel-style-2 .owl-dots {
	margin-top: 30px; }
	.owl-carousel.custom-carousel-style-2 .owl-dots button.owl-dot:hover span, .owl-carousel.custom-carousel-style-2 .owl-dots button.owl-dot:active span, .owl-carousel.custom-carousel-style-2 .owl-dots button.owl-dot.active span {
		background-color: #CCC; }
	.owl-carousel.custom-carousel-style-2 .owl-dots button.owl-dot span {
		width: 12px;
		height: 12px;
		margin: 5px 4px; }

/*
* Tabs
*/
.tabs-navigation.custom-tabs-navigation-1 .nav-tabs > li .nav-link {
	border-left: 0 !important;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	border-bottom: 0;
	border-radius: 0;
	background: transparent !important;
	color: #1d2127;
	font-size: 32px;
	font-size: 2rem; }
	.tabs-navigation.custom-tabs-navigation-1 .nav-tabs > li .nav-link:before {
		content: none; }
	.tabs-navigation.custom-tabs-navigation-1 .nav-tabs > li .nav-link:hover, .tabs-navigation.custom-tabs-navigation-1 .nav-tabs > li .nav-link:focus, .tabs-navigation.custom-tabs-navigation-1 .nav-tabs > li .nav-link.active {
		border-right-width: 2px; }

/*
* Testimonial
*/
.testimonial.custom-testimonial-style-1 blockquote {
	background: transparent !important;
	padding: 11.2px 28.8px;
	padding: 0.7rem 1.8rem; }
	.testimonial.custom-testimonial-style-1 blockquote:before, .testimonial.custom-testimonial-style-1 blockquote:after {
		color: #1d2127;
		font-family: 'Font Awesome 5 Free';
		font-size: 14px;
		font-weight: 900; }
	.testimonial.custom-testimonial-style-1 blockquote:before {
		content: '\f10d';
		left: 0;
		top: 15px; }
	.testimonial.custom-testimonial-style-1 blockquote:after {
		content: none; }
	.testimonial.custom-testimonial-style-1 blockquote p {
		color: #777;
		font-family: 'Open Sans';
		font-style: normal;
		font-size: 14px;
		line-height: 24px; }

.testimonial.custom-testimonial-style-1 .testimonial-author {
	position: relative;
	margin-left: 28.8px;
	margin-left: 1.8rem;
	flex-direction: column; }
	.testimonial.custom-testimonial-style-1 .testimonial-author:before {
		content: '';
		position: absolute;
		top: -7px;
		left: 1px;
		border-top: 2px solid #1d2127;
		width: 12px; }

/*
* Rate
*/
.custom-rate-style > i {
	color: #c8c8c8; }
	.custom-rate-style > i.active {
		color: #252525; }

/*
* Footer
*/
#footer p:not(.no-custom-color), #footer a:not(.no-custom-color), #footer span:not(.no-custom-color) {
	color: #a8b0b3;
	transition: ease color 300ms;
	font-size: 13px; }

#footer a:hover, #footer a:focus, #footer a:active {
	color: #FFF; }

#footer a:not(.btn):not(.no-footer-css) {
	color: #a8b0b3; }

#footer .list li {
	margin-bottom: 5px; }

/* IE */
html.ie .custom-feature-box-1 .feature-box-info {
	flex: 0 0 auto; }
