/* Add here all your CSS customizations */

.counters [class*='fa-'],
.counters .icons {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 25px;
}

.counters label {
  color: white;
}
.owl-carousel.carousel-center-active-item .owl-item {
  opacity: 1;
}

.form-control {
  // border-color: rgba(0, 0, 0, 0.09);
}
#header .header-body.bg-dark {
  background-color: #ccc !important;
}

#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
  color: #ec7216;
}

#contact iframe {
  width: 100%;
  height: 100%;
  min-height: 280px;
}
@media (max-width: 991px) {
  #team .thumb-info .thumb-info-title {
    left: 10%;
  }
  #team .thumb-info img {
    max-width: 300px;
  }
}

.owl-carousel .owl-item img {
  width: auto;
  height: 200px;
  margin: 0 auto;
}

#fleet svg {
  height: 100px;
  margin-bottom: 25px;
}
.sicon {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}
.sicon svg {
  height: 60px;
}

.sicon h4 {
  position: relative;
  margin-bottom: 0 !important;
  align-self: center;
}
